.header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background-color: #121212;
  .header-bg {
  }
  .header-body {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .page-logo {
      width: 115px;
      height: 47px;
      cursor: pointer;
    }
    .nav {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 35px;
      .nav-item {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          background: #edd133;
          & a {
            color: #121212;
          }
        }
        & a {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
        }
      }
      .active-nav {
        background: #edd133;
        & a {
          color: #121212;
        }
      }
    }
    .live-stream-btn {
      background: #edd133;
      border-radius: 34px;
      padding: 10px 24px;
      border: none;

      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: nowrap;
      transition: all 0.5s ease;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
