.home-banner {
  // height: 100vh;
  overflow: hidden;
  .home-banner-body {
    position: relative;
    .home-banner-img {
      width: 100vw;
    }
    .home-text-block {
      position: absolute;
      top: 30%;
      right: 96px;
      max-width: 564px;

      display: flex;
      flex-direction: column;
      gap: 21px;
      .home-title {
        text-align: center;
      }
      .home-subtitle {
        text-align: center;
      }
    }
  }
}
