<div class="winner-block">
  <div class="winner-body wrapper">
    <h3 class='medium-title'>Winner Of The Last WPL Event</h3>

    <div class="winner-txt-block">
      <div class="left-side">
        <h5 class='bold-txt-small'>Gary Hester</h5>
        <p class='text'>North Carolina</p>
        <p class='text'>Teeing off his Mini Golf career in 1969, Gary has over 50 years of experience in the sport. He
          started at the Arnold Palmer Mini Golf course in High Point, NC, where he took home
          four straight championships. In the USPMGA Masters, he has won multiple senior divisions and has registered 11
          top ten and two second place finishes in the main draw. Gary has also represented the US National Mini Golf
          Team at the World Mini Golf Championships for the last few years. In Sweden he finished as the top American
          and finished third overall. </p>
      </div>
      <div class="right-side">
        <img src="../../../../assets/players/Hester-NC.png" alt="Hester-NC">
      </div>
    </div>
  </div>
</div>