.guests {
  background-color: #fff;
  padding: 100px 30px;
  min-height: 650px;
  .guests-body {
    display: flex;
    font-display: row;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
  }
}
