<footer class='footer'>
  <div class="footer-body wrapper">
    <img src="../../../assets/icons/WPL-white 1.png" alt="WPL logo">

    <p class='text white footer-text'>World Putting League is sanctioned by the USPMGA <br>
      (US Pro MiniGolf Association) and produced by Pro League Network
    </p>
    <div class="links">
      <a class='link' target='_blank' href="https://www.instagram.com/worldputtingleague/">
        <img src="../../../assets/icons/insta.png" alt="instagram">
      </a>
      <a class='link' target='_blank' href="https://twitter.com/worldputtleague">
        <img src="../../../assets/icons/twitter.png" alt="twitter">
      </a>
      <a class='link' target="_blank" href="https://www.facebook.com/people/World-Putting-League/100088495053500/">
        <img src="../../../assets/icons/facebook.png" alt="facebook">
      </a>
    </div>
  </div>
</footer>